input[type="text"],textarea{
    width: 100%;
    border:1px solid rgb(78, 82, 83);
    padding: 10px;
    border-radius: 4px;
    transition: border-color 0.3s;
}
input[type="text"],textarea:focus{
    border-color: green;
    box-shadow: 0 0 5px rgb(1, 60, 1);
    outline: none;
}